.backdrop-form{

&__box{
    margin-bottom: 10px;
    position: relative;
  }
  &__label{
    display: block;
    color: rgba(117, 117, 117, 1);
    font-size: 12px;
    line-height: 1.67;
    margin-bottom: 4px;
  
  }
  &__input{
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    height: 40px;
    border-color: rgba(33, 33, 33, 0.2) ;
    border-radius: 4px;
    padding: 12px 42px;
    cursor: pointer;
    transition-property: border ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:active {
      border: 1px solid rgba(33, 150, 243, 1);
      outline: none;
    }
   }

   &__icon{
    fill: currentColor;
    position: absolute;
    bottom: 14px;
    left:15px ;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .backdrop-form__input:focus  ~ &,
    .backdrop-form__input:active ~ &
     {
      fill: var(--accent);
    }
  }

 &__comment{
    display: block;
    resize: none;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    background-color: var(--white-color);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder{
      font-weight: 400;
      line-height: 1.17;
      letter-spacing: 0.01;
      color: rgba(117, 117, 117, 0.5);
    }
  }

}