.footer-form{


&__form{
  display: flex;
  align-items: center;
}
&__input{
  width: 358px;
  height: 50px;
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--third-background-color);
  color: var(--invert-text-color);
  cursor: pointer;
  transition-property: border ;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder{
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25;
  }
  &:hover,
  &:focus {
    border: 1px solid var(--button-hover);
    outline: none;
  }
}


&__button{
  background-color: var(--button-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: 1.9;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px 28px ;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0;
}
&__icon{
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;

}
}