.logo-menu{


&__icon{
    fill: black;
    cursor: pointer;
    background-color: var(--primary-background-color);
    transition-property: fill ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
    .logo-menu__button:hover &,
    .logo-menu__button:focus & {
    cursor: pointer;
    fill: var(--accent);
  }
}
&__button{
  background: rgba(0,0,0,0);
  border: none;
  padding: 0px;
  margin: 0px;
  width: 40px;
  height: 40px;
}

}
