.service-card {
  display: flex;
  flex-wrap: wrap;



&__link{
  cursor: pointer;
  background-color: var(--primary-background-color);
  border: none;
  padding: 0;
  text-decoration: none;
  display: block;
  transition-property: box-shadow ;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus
  &:active {
 box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
}
&__box{
  position: relative;
  overflow: hidden;
}
&__overlay{
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
    .service-card__link:hover &,
    .service-card__link:focus & {
  transform: translateY(0);
}
}
&__text{
  color: var(--invert-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}
&__description{
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  justify-content: left;
}
&__title {
  font-size: 18px;
  color: var(--secondary-text-color);
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
&__explanation{
color: var(--primary-text-color);
font-size: 16px;
line-height: 1.9;
margin: 0;
}

}