.title{
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    color:var(--secondary-text-color);
    @media (min-width: 1200px){
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 1.2;
    }
  
  }
  .text-join{
    font-weight: 700;
    line-height: 1.2; 
    color: var(--invert-text-color);
    margin-bottom: 20px;
    vertical-align: top;
    text-transform: uppercase;
  }