h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
}
.image {
	display: block;
	max-width: 100%;
	height: auto;
}
html {
	box-sizing: border-box;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}
.addreses{
    color: var(--invert-text-color);
    }
