:root {
    --primary-background-color: #ffffff;
    --secondary-background-color: #f5f4fa;
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent: #2196f3;
    --button-hover: #188ce8;
    --logo-color: #000000;
    --invert-text-color: #ffffff;
    --third-text-color: rgba(255, 255, 255, 0.6);
    --third-background-color: #2f303a;
  }