.main-page {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main1.jpg) ;
    height: 600px;
    max-width: 1600px;
    text-align: center;
    padding: 200px 0;
    margin: 0 auto;
    background-size: auto;

&__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-background-color);
    margin-bottom: 30px; 
    margin-left: auto;
    margin-right: auto;
    width: 696px;
}
&__button {
    background-color: var(--button-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 1.9;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    justify-content: center;
    padding: 10px 32px ;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: 0;
    min-width: 13px;
}
}