.main-page {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main.jpg) ;
    max-width: 1600px;
    text-align: center;
    margin: 0 auto;
    padding: 118px 0;


   /* @media (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main1@2x.jpg) ;
    }
    @media (min-width: 1200px){
        padding: 200px 0;
        max-height: none;
      }*/


      &__title {
        font-weight: 900;
        font-size: 26px;
        line-height: 1.61;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--primary-background-color);
        margin-bottom: 30px; 
        margin-left: auto;
        margin-right: auto;
        max-width: 360px;
        
        @media (min-width: 1200px){
            font-size: 44px;
            line-height: 1.36;
            max-width: 696px;
          }
    }
    &__button {
        background-color: var(--button-hover);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        font-size: 16px;
        line-height: 1.9;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        justify-content: center;
        padding: 10px 24px ;
        letter-spacing: 0.06em;
        border-radius: 4px;
        border: 0;
        min-width: 200px;
        @media (min-width: 1200px){
            padding: 10px 32px ;
          }
    }
}