.service{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
  margin-left: 0;
  align-items: center;
  justify-content: center;
  @media (min-width: 768px){
    margin: -15px;;
  
  }      
  @media (min-width: 1200px){
    margin: -15px;;
  
  }
 
  
&__service-card{
  cursor: pointer;
  background-color: var(--primary-background-color);
  border: none;
  padding: 0;
  text-decoration: none;
  display: block;
  transition-property: box-shadow ;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 30px;
  
  @media (min-width: 768px){
    flex-basis: calc((100% - 60px)/2);
    margin: 15px;
    width: 354px;
  
  }      
  @media (min-width: 1200px){
    flex-basis: calc((100% - 90px)/3);
    margin: 15px;
  
  }

}
  
}
