.team{
    text-align: center;
    align-items: center;
    background-color: var(--secondary-background-color);

  &__list{
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    list-style: none;
  
    @media (min-width: 768px){
      flex-basis: calc((100% - 60px)/2);
      gap: 30px;
  }
  @media (min-width: 1200px){
    gap: 30px;
   
  }
}
    
  &__member{
    padding: 15px;
  @media (min-width: 768px){
        flex-basis: calc((100% - 60px)/2);
    
    }
    @media (min-width: 1200px){
      flex-basis: calc((100% - 120px)/4);
  
     
    }
  }
}

