.team{
    text-align: center;
    align-items: center;
    background-color: var(--secondary-background-color);

  &__list{
    display: flex;
    padding: 0;
    margin: -15px;
    flex-wrap: wrap;
    list-style: none;
    
  }
   &__member{
    padding: 15px;
    flex-basis: 100%;

  
  @media (min-width: 768px){
    flex-basis: 50%;
    }
    @media (min-width: 1200px){
     flex-basis: 25%;
     
    }
}
}
